.h2doNaimh1 {
    color: red
}


.h1doNaim {
    color: whitesmoke;
}


.fontedoNaim{
    color: white
}

.bodydoNaim{
    background-color: black;
    font-size-adjust: initial;
    color: yellow;
    
}